@import "./src/Styles/styles.scss";

.video-item {
  width: 200px;
  height: 140px;
  cursor: pointer;
  &:hover {
    color: $primary-color;
  }
}

.title-link {
  a {
    color: $primary-color;
  }
}
